<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aksa"
        tools:targetApi="31">
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizKebudayaanActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigNameQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.HasilQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizAksaraSundaActivity"
            android:exported="false" />
        <activity
            android:name=".list.ListMakananActivity"
            android:exported="false" />
        <activity
            android:name=".NgagalenaActivity"
            android:exported="false" />
        <activity
            android:name=".SwaraActivity"
            android:exported="false" />
        <activity
            android:name=".list.ListAksaraSundaActivity"
            android:exported="false" />
        <activity
            android:name=".DetailMitosActivity"
            android:exported="false" />
        <activity
            android:name=".list.ListMitosActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".list.ListPupuhActivity"
            android:exported="false" />
        <activity
            android:name=".DetailCultureActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_culture"
            android:theme="@style/Theme.Aksa.NoActionBar" />
        <activity
            android:name=".DetailKebudayaanActivity"
            android:exported="false" />
        <activity
            android:name=".list.ListKebudayaanActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ui.AddKebudayaanActivity"
            android:exported="false" />
        <activity
            android:name=".AllArticleActivity"
            android:exported="false" />
        <activity
            android:name=".DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ScanActivity"
            android:exported="false" />
        <activity
            android:name=".EmailVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>